// default colors
$red: #c52127;


// container classes default variables
$containers: (
  'large':  1200px,
  'medium': 960px,
  'small':  600px
);


// breakpoint mixin default variables
$breakpoint-mode: "max";
$breakpoints: (
  xxxl: 1400px,
  xxl:  1200px,
  xl:   1080px,
  l:    960px,
  m:    750px,
  s:    600px,
  xs:   500px,
  xxs:  400px
);
