.button {
  display: inline-block;
  padding: 15px 8px;
  background: $red;
  text-transform: capitalize;
  transition: all .3s ease;
  border: 2px solid $red;

  &:hover {
    background: transparent;
    color: $red;
  }
}
