@font-face {
  font-family:'butler';
  src:url('../fonts/butler_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'butler';
  src:url('../fonts/butler_medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// font colors
.font--white {color:#fff;}

// font sizes
.font--40px {font-size:40px;}
.font--30px {font-size:30px;}
.font--22px {font-size:22px;}
.font--20px {font-size:20px;}
.font--18px {font-size:18px;}
.font--16px {font-size:16px;}
.font--15px {font-size:15px;}
.font--12px {font-size:12px;}


// typographic styles

.news-title {
  margin:0;
  font-family:"butler", serif;
  font-weight: 700;
}

.page-title {
  font-family:"roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-top: 50px;
}

.pre-title {
  font-family:"roboto", sans-serif;
  font-weight: 700;

  &--tag {
    position: relative;
    display: inline-block;
    background: $red;
    width: 160px;
    padding: 8px 0;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
}

.body {
  margin:20px 0;
  font-family:"butler", serif;
  font-weight: 400;

  &--small {

  }
}

.footer-nav {
  font-family:"roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em;
  @include font-size(9px);
  text-transform: uppercase;
}

.post-data {
  font-family:"roboto", sans-serif;
  font-weight: 500;
}

.share {
  font-family:"roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  color: #999999;
  @include font-size(14px);
  display: inline-block;
}
